<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="row w-100">
    <div class="col-lg-6 my-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115681.29592731265!2d-77.47713270775661!3d25.0326996781907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7c99b981dbc9%3A0x2aef01d3485e50d2!2sNassau%2C%20Bahamy!5e0!3m2!1spl!2spl!4v1624445118063!5m2!1spl!2spl"
        class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-lg-6 my-4 d-flex align-items-center">
      <div>
        <h6>This map is embedded in a 6 column layout</h6>
        <p>Try to resize your browser window - you will see that it starts to take up 12 columns on
          screens smaller than 992px.</p>
        <p>This useful feature helps to make your embedded map responsive (<strong>mobile
            friendly</strong>). You can customize responsive behavior with the use of <a
            href="https://mdbootstrap.com/docs/angular/layout/breakpoints/">breakpoints</a>.</p>
        <p>This text looks so nice because it's <strong>vertically centered</strong> you can achieve
          this effect using the <a href="https://mdbootstrap.com/docs/angular/layout/vertical-alignment/">vertical
            alignment</a> layout option.</p>
      </div>
    </div>
  </div>

</div>

<div class="container" style="margin-bottom: 100px;">


  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="50" [(page)]="page"></ngb-pagination>



  <div *ngIf="page === 1" class="">




    <form>

      <p>Fill out our quote form in less than 3 minutes and receive a customized quote within a few days.</p>

      <p style="font-weight: bold;">Which concept are you interested in? *</p>
      <!-- Default checkbox -->
      <div class="form-check">
        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Lease your rooftop for a solar system
        </label>
      </div>

      <div class="form-check">
        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Rent a rooftop solar system
        </label>
      </div>

      <!-- Checked checkbox -->
      <div class="form-check">
        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="true" />
        <label class="form-check-label" for="flexCheckChecked">
          Buy a rooftop solar system
        </label>
      </div>

      <p style="font-weight: lighter;">Multiple choices possible - you can receive several offers from us.</p>

      <p style="font-weight: bold;">Your address *<img (click)="getUserLocation()" src="assets/location.png"
          alt="Trulli" width="28" height="28"></p>

      <div *ngIf="flag">
        longitude {{lng}} and latitude {{lat}}
      </div>

      <!-- [options]='options' -->
      <input ngx-google-places-autocomplete  #placesRef="ngx-places"
        (onAddressChange)="handleAddressChange($event)" />

        <br>
      <!-- <div class="container">
        <input ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" />
        <p>Address: {{ userAddress }}</p>
        <p>Latitude: {{ userLatitude }}</p>
        <p>Longitude: {{ userLongitude }}</p>
      </div> -->

      <br>

      <button type="submit" (click)="nextPage()" class="btn btn-primary">Next Step</button>
    </form>

  </div>

  <br>

  <div *ngIf="page === 2" class="">

    <form>

      <h1>Mark roof surface</h1>

      <p style="font-weight: bold;">Mark your roof area by clicking on the map. The system will automatically calculate
        your roof area.</p>

      <div class="text-center">
        <img src="assets/animation.gif" class="rounded" alt="...">
      </div>

      <p class="text-center">Marked roof area : 300 m<sup>2</sup></p>

      <p class="text-center">OR</p>

      <div class="form-group row">
        <label style="font-weight: bold;" for="inputPassword" class="col-sm-2 col-form-label">Manual Input : </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputPassword" placeholder="i.e : 1500">
          <small id="emailHelp" class="form-text text-muted">The minimum size is 1500m² to purchase or rent a turnkey
            solar system from ENVIRIA.</small>
        </div>

      </div>

      <button type="submit" (click)="nextPage()" class="btn btn-primary">Next Step</button>

      <br>
    </form>

  </div>




  <div *ngIf="page === 3" class="">

    <form>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" (click)="nextPage()" class="btn btn-primary">Next Step</button>
    </form>

  </div>


  <div *ngIf="page === 4" class="">

    <form>

      <p style="font-weight: bold;">Roof type *</p>

      <br>

      <div class="row">
        <div class="col-4 formpng text-center"><img src="assets/Flachdach.png" class="rounded" alt="..."></div>
        <div class="col-4 formpng text-center"><img src="assets/Grabendach.png" class="rounded" alt="..."></div>
        <div class="col-4 formpng text-center"><img src="assets/Paralleldach.png" class="rounded" alt="..."></div>
      </div>

      <br>

      <div class="row">
        <div class="col-4 formpng text-center"><img src="assets/Pultdach.png" class="rounded" alt="..."></div>
        <div class="col-4 formpng text-center"><img src="assets/Pulterweitert.png" class="rounded" alt="..."></div>
        <div class="col-4 formpng text-center"><img src="assets/Satteldach.png" class="rounded" alt="..."></div>
      </div>

      <br>

      <p style="font-weight: bold;">Roof inclination *</p>

      <br>

      <div class="row">
        <div class="col-4 formpng text-center"><img src="assets/0-grad.png" class="rounded" alt="..."></div>
        <div class="col-4 formpng text-center"><img src="assets/15-grad.png" class="rounded" alt="..."></div>
        <div class="col-4 formpng text-center"><img src="assets/30-grad.png" class="rounded" alt="..."></div>
      </div>

      <br>

      <p style="font-weight: bold;">Roofing *</p>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Tile
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Corrugated sternit
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Foil
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          standing seam/calzip
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Bitumen
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Trapezoidal sheet metal
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Sandwich element
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Green roof
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Other
        </label>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" style="font-weight: bold;" class="col-sm-3 col-form-label">Building height in meter :
        </label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="inputPassword" placeholder="">
        </div>
      </div>

      <br>

      <button type="submit" (click)="nextPage()" class="btn btn-primary">Next Step</button>

    </form>

  </div>

  <div *ngIf="page === 5" class="">

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="form-group row">
        <label style="font-weight: bold;" for="inputPassword" class="col-sm-2 col-form-label">First Name : </label>
        <div  class="col-sm-10">
          <input formControlName = 'firstname' type="text" class="form-control" id="inputPassword" placeholder="First Name">
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" style="font-weight: bold;" class="col-sm-2 col-form-label">Last Name : </label>
        <div class="col-sm-10">
          <input formControlName = 'lastname' type="text" class="form-control" id="inputPassword" placeholder="Last Name">
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label" style="font-weight: bold;">Company : </label>
        <div class="col-sm-10">
          <input formControlName = 'company' type="text" class="form-control" id="inputPassword" placeholder="Company">
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label" style="font-weight: bold;">Address : </label>
        <div class="col-sm-10">
          <input formControlName = 'address' type="text" class="form-control" id="inputPassword" placeholder="Address">
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label" style="font-weight: bold;">Country : </label>
        <div class="col-sm-10">
          <input formControlName = 'country' type="text" class="form-control" id="inputPassword" placeholder="Country">
        </div>
      </div>

      <br>
      <div class="form-group row">
        <label for="inputPassword" style="font-weight: bold;" class="col-sm-2 col-form-label">Email : </label>
        <div class="col-sm-10">
          <input formControlName = 'email' type="email" class="form-control" id="inputPassword" placeholder="Email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>

      <br>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label" style="font-weight: bold;">Phone Number : </label>
        <div class="col-sm-10">
          <input type="number" formControlName = 'phonenumber' class="form-control" id="inputPassword" placeholder="Phone Number">
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label" style="font-weight: bold;">Annual power consumption :
        </label>
        <div class="col-sm-10">
          <input formControlName = 'consumption' type="number" class="form-control" id="inputPassword" placeholder="Annual power consumption">
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2" style="font-weight: bold;">I would like additional information :
        </label>
        <div class="col-sm-10">
          <select id="inputState" class="form-control">
            <option selected>Choose</option>
            <option>Electromobility</option>
            <option>Energy storage</option>
            <option>Smart electicity meters</option>
            <option>Green roof</option>
            <option>Solar carport</option>
            <option>Roof restauration</option>
            <option>Heat solution</option>
          </select>
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label formControlName = 'notes' for="inputPassword" class="col-sm-2 col-form-label" style="font-weight: bold;">Notes and details :
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Notes and details"
            rows="3"></textarea>
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="inputPassword" style="font-weight: bold;" class="col-sm-2 col-form-label">File : </label>
        <div class="col-sm-10">
          <input class="form-control" type="file" id="formFile">
        </div>
      </div>

      <label for="inputPassword" style="font-weight: bold;" class="col-sm-2 col-form-label">Privacy policy *</label>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <small class="form-check-label" for="exampleCheck1">Yes, I agree that ENVIRIA may use my personal data for
          thepurpose of preparing an offer until revoked. Formore information, please refer to our privacy
          policy.</small>
      </div>

      <br>

      <!-- <button type="submit" class="btn btn-primary">Save</button> -->

      <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>

    </form>

  </div>

</div>
