   <div class="flexBox">
     <div class="container">

       <div>
         <label> <b> Name </b></label>
         <span>{{tableDetails.firstName}} {{tableDetails.lastName}}</span>
       </div>

       <div>
         <label> <b> Email </b></label>
         <span>{{tableDetails.email}}</span>
       </div>

       <div>
         <label> <b> Adress </b></label>
         <span>{{tableDetails.address}}</span>
       </div>
       <div>
         <label> <b> Company </b></label>
         <span>{{tableDetails.company}}</span>
       </div>
       <div>
         <label> <b> Country </b></label>
         <span>{{tableDetails.country}}</span>
       </div>
       <div>
         <label> <b> Phone_Number </b></label>
         <span>{{tableDetails.phoneNumber}}</span>
       </div>

       <div>
         <label> <b> Selected Area </b></label>
         <span>{{tableDetails.area}}</span>
       </div>



       <div>
         <label> <b> Roof_Type </b></label>
         <span>{{tableDetails.roofType}}</span>
       </div>

       <div>
         <label> <b> Roof_Inclination </b></label>
         <span>{{tableDetails.roofInclination}}</span>
       </div>

       <div>
        <label> <b> Attachment </b></label><br>
        <!-- <span> <a target="_blank" href="{{tableDetails.attachment}}"> View Attachment </a> </span> -->
        <span> <img src={{tableDetails.attachment}} 
          width="150px" height="150px" alt="img"> </span>
      </div>
     </div>
   </div>
